.sidebar {
    background-color: rgba(1, 1, 1, 0.75);
    color: white;
    padding: 20px;
    width: 300px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
    z-index: 10;
    backdrop-filter: blur(6px);
  }
  
  .dropdown {
    color: black;
  }
  