.sidebar {
    background-color: #01010195;
    color: white;
    padding: 30px 20px;
    width: 300px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 24px;
    z-index: 10;
  }
  
  .input {
    padding: 12px 16px;
    border-radius: 999px;
    border: none;
    outline: none;
    font-size: 14px;
  }

  .slider-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
  }

  .slider {
    flex: 1;
    -webkit-appearance: none;
    height: 4px;
    border-radius: 2px;
    background: white;
    outline: none;
  }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 14px;
    height: 14px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
  }

  .slider::-webkit-slider-thumb:hover {
    transform: scale(1.3);
    background-color: white;
  }

  .slider-label {
    font-size: 15px;
    font-weight: bold;
  }

  .submit-button {
    padding: 12px 16px;
    border-radius: 999px;
    background-color: #69c9d0;
    color: white;
    font-size: 14px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease, color 0.2s ease;
  }

  .submit-button:hover {
    background-color: #ee1d52;
    color: #010101;
  }