html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.app {
    height: 100%;
    width: 100%;
}

.sidebar {
    width: 23.5%;
    height: 100%;
    background-color: rgba(1, 1, 1, 0.75);
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    padding-left: 2vw;
    padding-top: 3vh;
}
